
html {
  height: 100%;
}

body {
  cursor: default;
  -webkit-user-select: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
}

a {
  color: #08c;
  text-decoration: none;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
}
